@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

.__floater {
    filter: none !important;
    will-change: auto !important;
}

canvas {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased;
}

.container::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 90%, rgba(255, 255, 255, 0));
    pointer-events: none;
}

.container-3-cols {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.sixth-child :nth-child(6n+6) {
    border-right-color: #393939; /* Or any other style you want */
}

.fc-view {
    border-radius: 8px;
}
.fc-view-harness {
    border-radius: 8px;
    overflow: hidden;
    border: 3px solid gray;
}

@keyframes bounce-less {
    0%, 100% {
        transform: none;
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateY(25%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes nudge-right {
    0%, 100% {
        transform: none;
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateX(25%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

@keyframes nudge-left {
    0%, 100% {
        transform: none;
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translateX(-25%);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.animate-bounce-less {
    animation: bounce-less 1s infinite;
}

.animate-nudge-right {
    animation: nudge-right 1s infinite;
}

.animate-nudge-left {
    animation: nudge-left 1s infinite;
}


@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.overflow-initial {
    overflow: initial !important;
    overflow-x: visible !important;
    overflow-y: hidden !important;
}

@layer components {
    .no-spinner {
        -moz-appearance: textfield;
    }

    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }



    .number-input {
        @apply text-right p-2 rounded-xl outline-blue-400 bg-zinc-100 text-black text-sm w-24
    }

    .beacon {
        offset-distance: 0;
        animation-name: moveAlongPath;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        position: absolute;
        @apply w-6 h-6 bg-red-400 z-50 rounded-full
    }

    .center-vertical-with-margin {
        @apply mt-auto mb-auto
    }

    .center-horizontal-with-margin {
        @apply ml-auto mr-auto
    }

    .center-all-margin {
        @apply mt-auto mb-auto ml-auto mr-auto
    }


}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-ping-slow {
    animation: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes moveAlongPath {
    0% {
        offset-distance: 0
    }
    100% {
        offset-distance: 100%;
    }
}


@keyframes dash-trace {
    from {
        stroke-dashoffset: 20;
    }
    to {
        stroke-dashoffset: 0;
    }
}

.animate-pills {
    stroke-dasharray: 1, 19;
    animation-name: dash-trace;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    stroke-linecap: round;
}

.carousel-order-pills {
    stroke-width: 10px;
    stroke: hsla(160, 84%, 39%, 0.5);
}
.quadrant-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 150%;
    height: 0; /* Height is 0 because we're using borders */
    border-top: 2px dashed black; /* Dashed line with a top border */
    top: 50%;
    left: 50%;
    transform-origin: center center;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

.scale-in {
    transform: scale(0); /* Initial state */
    animation: scaleUp 500ms ease-out forwards;
}

/* Keyframes to scale the element */
@keyframes scaleUp {
    0% {
        transform: scale(0); /* Start scaled down */
    }
    100% {
        transform: scale(1); /* End at full size */
    }
}

.bulge-top {
    border-radius: 64px 64px 12px 12px;
}
.bulge-bottom {
    border-radius: 12px 12px 64px 64px;
}
.bulge-left {
    border-radius: 64px 12px 12px 64px;
}
.bulge-right {
    border-radius: 12px 64px 64px 12px;
}

.react-flow .react-flow__handle {
    width: 30px;
    height: 14px;
    border-radius: 3px;
}
