.cell {
    height: 100%;
    width: 100%;
    border: 1px solid #e5e7eb; /* Tailwind's border-gray-200 */
    background-color: rgba(255, 255, 255, 0.3); /* Tailwind's bg-opacity-30 */
}

.droppable {
    background-color: var(); /* Tailwind's bg-emerald-500 */
}

.not-droppable {
    background-color: var(--mantine-color-gray-3); /* Tailwind's bg-gray-200 */
}

.static-item-cell {
    height: var(--default-cell-size);
    width: var(--default-cell-size);
}

.tail-cell {
    background-color: var(--mantine-color-secondary-3); /* Tailwind's bg-blue-500 */
}

.draggable-cell {
    background-color: var(--mantine-color-secondary-5); /* Tailwind's bg-blue-500 */
}